.DS_Store
*.cywrk.*
*.cyprj.*
*.cycdx
*.cyfit
*.rpt
*_timing.html
*.cydsn/codegentemp
*.cydsn/DP8051
*.cydsn/Generated_Source
!bootloader.cydsn/DP8051/DP8051_Keil_903/Release/bootloader.hex
!bootloader.cydsn/DP8051/DP8051_Keil_903/Release/bootloader.elf
